<div class="row">
  <div class="col-xs-12 col-lg-8 col-lg-offset-2">
    <div class="start-wrapper">
      <div class="row">
        <div class="col-xs-12">
          <div class="start-header">
            <div class="logo-container text-centered">
              <img class="" src="../images/Spotify_Icon_RGB_Green.png"/>
            </div>
          </div>
          <div class="start-content">
             <div class="col-xs-12 col-lg-12">
              <div class="text-container">
                <h2>Welcome to</h2><h2 class="highlight"> Playlister</h2>
              </div>
            </div>
            <div class="col-xs-12 col-lg-12">
              <div class="btn-container">
                <button class="btn btn-primary playlister-btn animated infinite tada" ng-click="goLogin()">Login</button>
              </div>
            </div>
            <div class="col-xs-12 col-lg-12">
              <div class="text-container">
                <h2 class="highlight">Login</h2><h2> to begin your playlist experience</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
